<launch>
  <arg name="start_gazebo" default="true"/>
  <arg name="gazebo_gui" default="false"/>
  <arg name="start_rviz" default="true"/>
  <arg name="display" default="$(optenv DISPLAY :0)"/>
  <arg name="xauthority" default="$(env HOME)/.Xauthority"/>
  <arg name="map_file" default="$(find robis_simulation)/maps/robis_map.yaml"/>
  <arg name="pbstream_file" default="$(find robis_simulation)/maps/robis_map.pbstream"/>

  <group if="$(arg start_gazebo)">
    <include file="$(find robis_simulation)/launch/gazebo.launch">
      <arg name="gui" value="$(arg gazebo_gui)"/>
    </include>
  </group>

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" output="screen"/>

  <include file="$(find robis_simulation)/launch/cartographer_localization.launch">
    <arg name="pbstream_file" value="$(arg pbstream_file)"/>
  </include>

  <node pkg="move_base" type="move_base" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(find robis_simulation)/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find robis_simulation)/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find robis_simulation)/config/move_base/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find robis_simulation)/config/move_base/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find robis_simulation)/config/move_base/move_base_params.yaml" command="load"/>
    <rosparam file="$(find robis_simulation)/config/move_base/teb_local_planner_params.yaml" command="load"/>
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
  </node>

  <node if="$(arg start_rviz)" pkg="rviz" type="rviz" name="rviz" output="screen"
        args="-d $(find robis_simulation)/config/rviz/cartographer_mapping.rviz">
    <env name="DISPLAY" value="$(arg display)"/>
    <env name="XAUTHORITY" value="$(arg xauthority)"/>
    <env name="LIBGL_ALWAYS_SOFTWARE" value="1"/>
  </node>
</launch>
